.well {
  max-width: 392px;
  padding: 8px;
  text-align: center;
}

.plans {
  text-align: center;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px
}

.plan-wrapper {
  display: block;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px
}

.plan {
  display: block;
  cursor: inherit;
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #444;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 98%;
  background-image: none;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
}

.plan .logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan .persons {
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1em
}

.plan .meals-per-week {
  margin: 0 10px 5px;
  font-size: 13px;
  font-weight: 500
}

.plan .description {
  padding: 5px 0 0;
  margin: 8px;
  height: 260px;
  border-bottom: 1px solid #ddd;
}

.plan .name {
  margin: 0 0 5px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  padding-top: 10px;
}

.plan .plan-price {
  padding: 0;
  display: block;
  margin: 5px 12px 12px;
}

.plan .price {
  font-size: 36px;
  font-weight: 700;
}

.plan .week {
  font-size: 13px;
  line-height: 2.46
}

.plan .select-btn {
  width: 90%;
}

.how-it-works .content {
  padding: 10px 15px;
  text-align: center
}

@media only screen and (min-width:992px) {
  .how-it-works .content {
    padding: 40px 0 20px
  }
}

.how-it-works .title {
  color: #e7a662;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 0
}

@media only screen and (min-width:768px) {
  .how-it-works .title {
    font-size: 30px;
    line-height: 34px
  }
}

@media only screen and (min-width:992px) {
  .how-it-works .title {
    font-size: 36px;
    line-height: 40px
  }
}

.how-it-works .list {
  max-width: 440px;
  margin: 30px auto;
  padding: 0;
  list-style: none
}

@media only screen and (min-width:992px) {
  .how-it-works .list {
    max-width: inherit;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.how-it-works .list li {
  position: relative;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left
}

.how-it-works .list li:last-child {
  padding-bottom: 0
}

@media only screen and (min-width:992px) {
  .how-it-works .list li {
    display: block;
    width: 180px;
    text-align: center;
    padding: 0;
    margin: 0 70px
  }
}

.how-it-works .list .icon {
  width: 68px;
  height: 68px;
  margin: 0 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

@media only screen and (min-width:992px) {
  .how-it-works .list .icon {
    width: 76px;
    height: 76px;
    margin: 0 0 30px
  }
}

.how-it-works .list .title {
  color: #e7a662;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px
}

@media only screen and (min-width:768px) {
  .how-it-works .list .title {
    font-size: 18px;
    line-height: 22px
  }
}

@media only screen and (min-width:992px) {
  .how-it-works .list .title {
    font-size: 18px;
    line-height: 22px
  }
}

.how-it-works .list .text {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0
}

.how-it-works .list .nowrap {
  white-space: nowrap
}

/*

.plan.selected {
    z-index: 1;
    border: 2px solid #444;
    border-left: 0;
    border-right: 0
}

@media only screen and (min-width:768px) {
    .plan.selected {
        border: 2px solid #444
    }
}

@media only screen and (min-width:992px) {
    .plan.selected {
        border: 3px solid #444
    }
}

.plan.selected:before {
    content: "currently selected";
    z-index: 1;
    color: #fff;
    background: #444;
    padding: 4px 5px 4px 6px;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 9px
}

@media only screen and (min-width:768px) {
    .plan.selected:before {
        display: block;
        font-size: 12px;
        text-align: center;
        padding: 6px 13px 4px;
        border-radius: 4px 4px 0 0;
        top: inherit;
        bottom: 100%;
        left: -2px;
        right: -2px
    }
}

@media only screen and (min-width:992px) {
    .plan.selected:before {
        left: -3px;
        right: -3px
    }
}

.plan .plan-img {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 9px;
    width: 33%
  }
  
  @media only screen and (min-width:768px) {
    .plan .plan-img {
        float: none;
        margin: 0;
        width: auto
    }
  }
  
  .plan .plan-img img {
    max-width: 100%
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
  }
  
  .container:after, .container:before {
    content: " ";
    display: table
  }
  
  .container:after {
    clear: both
  }
  
  @media (min-width:768px) {
    .container {
      width: 750px
    }
  }
  
  @media (min-width:992px) {
    .container {
      width: 970px
    }
  }
  
  @media (min-width:1200px) {
    .container {
      width: 1170px
    }
  }

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #eee
  }
  
  .jumbotron, .jumbotron .h1, .jumbotron h1 {
    color: inherit
  }
  
  .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200
  }
  
  .jumbotron>hr {
    border-top-color: #d5d5d5
  }
  
  .container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px
  }
  
  .jumbotron .container {
    max-width: 100%
  }
  
  @media screen and (min-width:768px) {
    .jumbotron {
      padding-top: 48px;
      padding-bottom: 48px
    }
    .container-fluid .jumbotron, .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px
    }
    .jumbotron .h1, .jumbotron h1 {
      font-size: 63px
    }
  } */